## 15 - Upper Air Data with Siphon

Watch video: [YouTube](https://www.youtube.com/watch?v=OUTBiXEuDIU)

WyomingUpperAir is also known as Wyoming sounding data, it is the easiest way to get the upper air data. It contains the basic variables, including temperature, dewpoint, relative humidity, wind speed, etc. The data is available from [here](https://weather.uwyo.edu/upperair/sounding.html).

In [1]:
import datetime
from metpy.units import units, pandas_dataframe_to_unit_arrays
from siphon.simplewebservice.wyoming import WyomingUpperAir
units.default_format = '.2f'

In [2]:
date = datetime.datetime(2017, 9, 10)
df = WyomingUpperAir.request_data(date, 'BMX')
df.head()

,pressure,height,temperature,dewpoint,direction,speed,u_wind,v_wind,station,station_number,time,latitude,longitude,elevation,pw
0,999.0,178,24.4,13.4,0.0,0.0,-0.000000,-0.000000,BMX,72230,2017-09-10,33.16,-86.76,178.0,19.23
1,997.0,195,24.2,10.2,2.0,1.0,-0.034899,-0.999391,BMX,72230,2017-09-10,33.16,-86.76,178.0,19.23
2,956.0,559,21.6,8.6,48.0,18.0,-13.376607,-12.044351,BMX,72230,2017-09-10,33.16,-86.76,178.0,19.23
3,950.3,610,21.1,8.4,55.0,20.0,-16.383041,-11.471529,BMX,72230,2017-09-10,33.16,-86.76,178.0,19.23
4,925.0,841,18.8,7.8,55.0,21.0,-17.202193,-12.045105,BMX,72230,2017-09-10,33.16,-86.76,178.0,19.23

In [3]:
print(df.units)

{'pressure': 'hPa', 'height': 'meter', 'temperature': 'degC', 'dewpoint': 'degC', 'direction': 'degrees', 'speed': 'knot', 'u_wind': 'knot', 'v_wind': 'knot', 'station': None, 'station_number': None, 'time': None, 'latitude': 'degrees', 'longitude': 'degrees', 'elevation': 'meter', 'pw': 'millimeter'}

In [4]:
print(df.units['dewpoint'])

degC

In [5]:
df = pandas_dataframe_to_unit_arrays(df)

In [6]:
p = df['pressure']
T = df['temperature']
Td = df['dewpoint']
u = df['u_wind']
v = df['v_wind']

In [7]:
print(p[:10])

[999.00 997.00 956.00 950.30 925.00 917.10 884.70 850.00 849.00 822.80] hectopascal